@font-face {
    font-family: 'Raleway-Regular';
    src: url('static/Raleway-Regular.ttf');
     
    
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('static/Raleway-ExtraBold.ttf')
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('static/Raleway-Thin.ttf')
}

body
{
    background-color: white;
    width: 1440px;
    height: 1884px; 
    display:grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr;
    grid-template-areas: 
    ". header header header . "
    ". main main main ."
    ". main main main ."
    ". main main main ."
    ". footer footer footer . ";
    margin-bottom:0px;

}

main
{
display:flex;
justify-content: center;
flex-direction:column;
grid-area:main;
height:100%;
;
}

button
{
    height:50px;
    width:100px;
    border-radius: 0 15px 15px 0px;
    background-color:#0065FC;
    border-style:none;
    color:white;
}

.search
{
    display:flex;
align-content:center;
align-items:center;
}

#recherche
{
    
  height:50px;
border-color:rgb(224, 224, 224);
border-style:solid;

}

.filtres
{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top:10px;
    font-family: 'Raleway-Bold','sans sherif';
 
}

.iconfiltre
{
    border: 2px solid #f2f2f2;
    margin-right:20px;
    height:50px;
    display:flex;
    align-items:center;
     border-radius:30px;
   
}

.iconfiltre p
{
    
   
    padding:12px;
    padding-left:2px;
    border-color:#D9D9D9;
}

.iconfiltre i
{
background-color:#DEEBFF;
padding:18px;
border-radius:50%;
color:blue;
     
}

.iconfiltre i:hover
{
   
background-color:blue;
padding:18px;
border-radius:50%;
color:#DEEBFF; 
}

.search i
{
 height:15px;
 width:15px;
 Padding:17.5px;
 background-color:rgb(224, 224, 224);
 border-radius: 15px 0px 0px 15px;

}

.icon
{
    height:50px;
    width:50px;
}


header
{
grid-area:header;
width:100%;
font-family: 'Raleway', '300';
}s
nav img
{
padding-top:18px;
}

nav a 
{
    Float:right;
    padding:35px;
    text-decoration:none;
    color:gray;
}

nav a:hover
{
    border-top:solid;
    border-color:#0065FC;
    color:#0065FC;
}

nav a:focus
{
    border-top:solid;
    border-color:#0065FC;
    color:#0065FC;
}
nav a:active
{
    border-top:solid;
    border-color:#0065FC;
    color:#0065FC;
}

#titreart
{
     margin-left:40px;
     margin-top:40px;
     margin-bottom:2px;
}


h3 
{
   
    color:#313131;
    font-family: 'Raleway', '900';
    grid-area:h3;
    margin-top:20px;
   
}

h4
{
    color:black;
    font-family: 'Raleway', '700';
    margin-right:20px;
}
h5

{
    font-family: 'Raleway-Regular';
    grid-area:h5;
    margin-top:8px;
    margin-left:20px;
    margin-bottom:2px;
}

.haut div p
{
margin-left:20px;
margin-top:0px;
font-family:'Raleway-Regular';
}

.bas div p
{
margin-left:20px;
margin-top:0px;
font-family:'Raleway-Regular';
}
.haut 
{
    display:flex;
    flex-direction:row;
    height:190px;
    margin-top:20px;
    justify-content: center;
}

.titregras
{
    margin-left:20xp;
}
.haut div
{
background-color:white;
    
    padding-bottom:20px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    border-radius: 15px 15px 15px 15px;
    display:flex;
    margin-left:20px;
    margin-right:20px;
    flex-direction:column;

}

.bas div
{
  

    background-color:white;
    
    padding-bottom:40px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    border-radius: 15px 15px 15px 15px;
    display:flex;
    margin-left:20px;
    margin-right:20px;
    flex-direction:column;
}


.bas
{
    display:flex;
    flex-direction:row;
    margin:auto;
    justify-content:center;
    height:190px;
}
article img
{
    width: 250px;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
    margin-left: 5px;
    margin-right:5px;
    margin-top:5px;
}

aside img
{
    width: 250px;
    max-height: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    margin:auto;
    grid-area:aside;
    
}
.Gauche
{
 width:100%;
display:flex;
height:80%;
justify-content: center;
}
.Gauche .Bulleimages img
{
    height:500px;
}

.Gauche .Bulleimages
{
    background-color:white;
    
    padding-bottom:40px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    border-radius: 15px 15px 15px 15px;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    flex-direction:column;
    margin-bottom:25px;
    align-items:center;
    
}

.droite .Bulleimages
{
     background-color:white;
    
    padding-bottom:40px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    border-radius: 15px 15px 15px 15px;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    flex-direction:column;
    margin-bottom:25px;
    align-items:center;
}
.sectionbas h5
{
font-family:'Raleway-Regular';
margin-right:130px;
}

.droite .Bulleimages img

{
 height:500px;
}
.droite 
{

display:flex;
margin-left:45px;
height:80%;
}

.sectionbas  img 
{
     width: 300px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 1px 1px 5px rgb(150, 150, 150);
    height:150px;
}

#kevin
{
 height:100px;
}
.ordre .Bulleimages img
{
       width: 300px;
       height:170px;
    max-height: 200px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 1px 1px 5px rgb(150, 150, 150);

}
.ordre
{
    width:100%;
    display:flex;
    flex-direction:column;
    grid-area:figure;
    justify-content: center;
    height:100%;
    margin-left:35px;
}

.ordre .Marge
{
    height:10%;
}

.sectionbas
{
     display:grid;
     grid-area: 2section;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-areas:"grand figure grand figure";
    height:50%;
    width:100%;
 
}
.Bulle03
{
      background-color:white;
    
    padding-bottom:40px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    border-radius: 15px 15px 15px 15px;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    flex-direction:column;
    margin-bottom:25px;
    align-items:center; 
}

.Bulle02
{
     background-color:white;
    
    padding-bottom:40px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    border-radius: 15px 15px 15px 15px;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    flex-direction:column;
 
    align-items:center;
 
}

.Bulle02 img
{
 height:250px;
}
.imagehaut
{
 grid-area:imagehaut;
}

.imagebas
{grid-area:imagebas;
}

.sectionhaut
{
display:flex;

width:100%;

margin-top:5px;
height:50%;
grid-area:section;
}

section article 
{
    background-color: #F2F2F2;
   flex:2;
  
   height:100%;
   width:100%;
    border-radius:15px;
    display:grid;
  grid-template-columns: 1fr ;
grid-template-rows:  0.2fr 0.5fr 0.5fr 0.2fr ;
grid-template-areas: 
"h3"
"   imagehaut"
" imagebas"
"h5";
flex-grow:2;
}

section aside
{
    grid-area:aside;
    flex-direction: row;
    background-color: #F2F2F2;
    
    margin-left:35px;
    flex:0.5;
    padding:15px;
    border-radius:15px;
   
}


footer
{
    background-color:#F2F2F2 ;
    width:100%;
    grid-area:footer;
    display:flex;
    flex-direction:row;
}