@font-face {
    font-family: 'Raleway-Regular';
    src: url('static/Raleway-Regular.ttf');
     
    
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('static/Raleway-Bold.ttf')
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('static/Raleway-Thin.ttf')
}

body
{
    background-color: white;
    width: 1440px;
    height: 1884px; 

    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content:center ;
    margin-left:15px;
    align-items:center;
    position:absolute;
    left:2%;
    
}

main
{
display:flex;
justify-content: center;
flex-direction:column;
}
nav img
{

}

header
{

width:100%;
}

nav a 
{
    Float:right;
    margin:10px;
}

h3
{
   
    color:black;
    font-family: Raleway-Bold;
}

h5

{
    font-family: Raleway-Thin;
}
section img
{
    width: 250px;
    max-height: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    ;
}
.Gauche
{
 width:50%;
display:flex;
}

.Gauche img
{
    display:flex
}

.droite 
{
width:50%;
display:flex;
}

.bas img 
{
     width: 250px;
    max-height: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgb(150, 150, 150);
    background-color:black;
}
figure
{
    width:100%;
    display:flex;
    flex-direction:column;
    
}
.bas .Grand
{
    max-width: 250px;
    max-height: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgb(150, 150, 150);
   
}
.bas
{
     display:flex;
    width:100%;
    height:50%;
 
}
.bas div 
{
    
}

section
{
display:flex;
width:100%;
flex-wrap:wrap;
margin-top:5px;
height:50%;

}

section article 
{
    background-color: #F2F2F2;
   flex:2;
    float:left;
   height:100%;
   width:100%;
    border-radius:15px;
  
}

section aside
{
    flex-direction: row;
    background-color: #F2F2F2;
    
    margin-left:35px;
    flex:1;
    padding:15px;
    border-radius:15px;
   
}

div img
{
Height:500px;
}
footer
{
    margin-top:25px;
    background-color: #F2F2F2;
    display:block;
    margin-top:auto;
    width:100%;
}