@font-face {
    font-family: 'Raleway-Regular';
    src: url('static/Raleway-Regular.ttf');
     
    
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('static/Raleway-Bold.ttf')
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('static/Raleway-Thin.ttf')
}

body
{
    background-color: white;
    width: 1440px;
    height: 1884px; 
    display:grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr;
    grid-template-areas: 
    ". header header header . "
    ". main main main ."
    ". main main main ."
    ". main main main ."
    ". footer footer footer . ";

}

main
{
display:flex;
justify-content: center;
flex-direction:column;
grid-area:main;
height:100%;
;
}
nav img
{

}

header
{
grid-area:header;
width:100%;

}

nav a 
{
    Float:right;
    margin:10px;
}

h3
{
   
    color:black;
    font-family: Raleway-Bold;
    grid-area:h3;
   
}

h5

{
    font-family: Raleway-Thin;
    grid-area:h5;
}
article img
{
    width: 250px;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    margin-left: 5px;
    margin-right:5px;
}

aside img
{
    width: 250px;
    max-height: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(150, 150, 150);
    margin:auto;
    grid-area:aside;
    
}
.Gauche
{
 width:50%;
display:flex;
}


.droite 
{
width:50%;
display:flex;
}

.sectionbas img 
{
     width: 250px;
    max-height: 600px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgb(150, 150, 150);
    
}
figure
{
    width:100%;
    display:grid;
    flex-direction:column;
    grid-area:figure;
}
 .Grand
{
    max-width: 250px;
    height: 100%;
    border-radius: 15px 15px 0 0;
    box-shadow: 1px 1px 5px rgb(150, 150, 150);
   grid-area:grand;
}
.sectionbas
{
     display:grid;
     grid-area: 2section;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-areas:"grand figure grand figure";
    height:50%;
    width:100%;
 
}
.bas div 
{
    
}

.imagehaut
{
 grid-area:imagehaut;
}

.imagebas
{grid-area:imagebas;
max-height:200px;}

.sectionhaut
{
display:flex;

width:100%;

margin-top:5px;
height:50%;
grid-area:section;
}

section article 
{
    background-color: #F2F2F2;
   flex:2;
  
   height:100%;
   width:100%;
    border-radius:15px;
    display:grid;
  grid-template-columns: 1fr ;
grid-template-rows:  0.2fr 1fr 1fr 0.2fr ;
grid-template-areas: 
"h3"
"   imagehaut"
" imagebas"
"h5";
flex-grow:2;
}

section aside
{
    grid-area:aside;
    flex-direction: row;
    background-color: #F2F2F2;
    
    margin-left:35px;
    flex:0.5;
    padding:15px;
    border-radius:15px;
   
}


footer
{
    background-color:#F2F2F2 ;
    width:100%;
    grid-area:footer;
}